* {
    font-family: 'Montserrat', sans-serif;
}

* ul {
    list-style-type: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 0px 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    z-index: 1;
}

.navbar .left {
    display: flex;
    align-items: center;
}

.navbar .left ul {
    margin-right: 10px;
}

.navbar .left svg {
    margin-left: 100px;
}

.navbar .left h3 {
    margin-left: 10px;
    margin-right: 30px;
}

.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li svg {
    margin-left: 5px !important;
    display: inline-block !important;
    position: static !important;
}

.navbar ul li:nth-child(1),
.navbar ul li:nth-child(2) {
    display: iline-block;
    position: static;
    margin-left: 5px;
    z-index: 2;
}

.navbar button {
    color: #101828;
    border: none;
    padding: 10px 20px;
    margin-right: 100px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    border: 0.5px solid white;
}

.navbar button:hover {
    background-color: rgba(197, 197, 197, 0.167);
    color: white;
}

article, body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.goldenbackground {
    position: relative;
    background-image: url(https://s3-alpha-sig.figma.com/img/a5fc/bde5/258262f42e8d47435151dd5e6c7fc8ba?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=sUbyaK3ZeHfFUJSf-UwdQbZYSvw7gDjU3YiF-MJZqisIb~gjWVT3~1svBlIO2sx8kf9zSZUcXt0cDIf9DTQDMjup2iMepJxjLoZp79CTBtKiFUDQRBzjmcMHgm~sbsy4GSsdmfUbQhiiAyE5XFsgt-hz4kDR9mXFmZmNKtfz43HF5hbVjcUkcdv1otJcC4XsAlchpxMd6LymUfOxmG9clqJnNR6iGEZAi78hHIlJUb7OtYclUpk8TVcQTqukMmDYPqZZLSzl~Cj6PoZZ0XeROWbNDS7K4Dz75bOn-~xC2YRrUe1NvVbYtxxij4s9SnAexh-63vf825reIo7CJuN33A__);
    background-size: 121%;
    background-position: left center;
    background-position-y: -100px;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
}

#hero {
    margin-left: 100px;
    margin-top: 150px;
}

#hero button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0.5px solid white;
    padding: 12px 30px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#hero button a {
    text-decoration: none;
    color: white;
}

#hero button a:visited {
    color: white;
}

#hero button svg {
    margin-left: 10px;
}

#hero button:hover {
    background-color: rgba(197, 197, 197, 0.167);
}

.heroslogan {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 0px;
    font-weight: normal;
}

.smallherotext {
    font-size: 13px;
    margin-top: 20px;
}

.shopleft svg, .shopleft h2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    font-weight: normal;
}

.shopleft svg {
    width: 50px;
}

.shopleft {
    margin-left: 100px;
    margin-top: 50px;
    padding-bottom: 0px;
    margin-bottom: -10px;
}

#shop hr {
    color: lightgray;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    opacity: 0.5;
}

.shopborder {
    border: 1px solid lightgray;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 2px;
    padding: 15px 20px;
    margin-top: -10px;
}

.shopfirstline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.shopborder h3 {
    margin: 0;
    font-weight: bolder;
}

.search {
    position: relative;
    display: inline-block;
}

.search svg {
    position: absolute;
    left: 15px;
    top: -15px;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.shopborder input {
    padding: 8px 12px 8px 40px;
    border: none;
    background-color: lightgrey;
    border-radius: 30px;
    width: 200px;
    font-weight: bold;
    color: lightgray;
    opacity: 0.5;
}

#shop ul li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    color: #101828;
    opacity: 70%;
    margin-right: 20px;
}

#shop ul {
    display: flex;
    justify-content: center;
}

.viewmore {
    text-decoration: none;
    color: #101828;
    font-weight: bold;
    display: block;
    text-align: right;
    margin-top: 20px;
}

footer {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#101828), to(#233250));
    background-image: linear-gradient(#101828, #233250);
    color: white;
    padding: 40px 0;
    margin-top: 50px;
}

footer h3, footer p, footer a {
    color: white;
}

footer a:hover {
    color: #cccccc;
}

.contactleft svg, .contactleft h2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    font-weight: normal;
    margin-right: 10px;
}

.contactleft svg {
    width: 20px;

}

.contactleft {
    margin-left: 100px;
    margin-top: 10px;
    padding-bottom: 0px;
    margin-bottom: -10px;
}

#contact hr {
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    opacity: 0.5;
}

footer address form {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 10px 100px;
    flex-direction: column;
    max-width: 500px;
}

footer address form .inline {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

footer address form .inline p {
    width: 50%;
    margin: 0;
}

footer address form .inline input {
    width: 100%;
    box-sizing: border-box;
}

footer address form label {
    color: #667085;
    font-size: 12px;
    margin-bottom: 4px;
    display: inline-block;
}

label .b {
    font-weight: bold;
}

footer address form .emailnmessagepp {
    width: 100%;
}

footer address form textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
    box-sizing: border-box;
}

footer address form input, 
footer address form textarea {
    background-color: white;
    color: #101828;
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}

footer address form button {
    background-image: -webkit-gradient(linear, left right, from(#101828), to(#233250));
    background-image: linear-gradient(#101828, #233250);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 100%; 
    margin-top: 10px;
}

.contactright, .contactleft {
    display: inline-block;
    position: sticky;
}

footer address form .checkbox {
    border: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
    font-weight: normal;
}

footer address form .checkbox input {
    width: auto;
    margin-right: 10px;
    margin-bottom: 0;
}

footer address form .checkbox label {
    display: inline;
    margin-bottom: 0;
    font-size: 15px;
}

footer address form .checkbox label a {
    color: #667085;
}

.black {
    color: #101828;
    font-weight: 500;
}
